@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --purple-600: hsl(246, 80%, 60%);

    /* work, play, study, exercise, social, self-care */
    --orange-300: hsl(15, 100%, 70%);
    --blue-300: hsl(195, 74%, 62%);
    --pink-400: hsl(348, 100%, 68%);
    --green-400: hsl(145, 58%, 55%);
    --purple-700: hsl(264, 64%, 52%);
    --yellow-300: hsl(43, 84%, 65%);


    --navy-950: hsl(226, 43%, 10%);
    --navy-900: hsl(235, 46%, 20%);
    --purple-500: hsl(235, 45%, 61%);
    --navy-200: hsl(236, 100%, 87%);

    /* card titles */
    --title-size: 18px;
    --font-rubik: 'Rubik', sans-serif;
    --rubik-thin: 300;
    --rubik-normal: 400;
    --rubik-bold: 500;

    font-size: 16px;
    font-family: var(--font-rubik);
    font-weight: var(--rubik-normal);
}

* {
    margin: 0;
    padding: 0;

    button {
        all: unset;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

body {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: var(--navy-950);
    color: white;

    main {
        flex: 1 0 0;
    }

    footer {
        margin-top: 1rem;
        padding: 1rem 0;
        flex: 0 1 0;
        width: 90%;
        border-top: 1px solid white;
        text-align: center;
    }
}

.dashboard {
    &[timeframe="daily"] {
        .daily {
            div& {
                display: flex;
            }

            nav button& {
                color: white;
            }
        }
        .weekly, .monthly {
            div& {
                display: none;
            }
            nav button& {
                color: var(--purple-500);
            }
        }
    }

    &[timeframe="weekly"] {
        .weekly {
            div& {
                display: flex;
            }

            nav button& {
                color: white;
            }
        }
        .daily, .monthly {
            div& {
                display: none;
            }
            nav button& {
                color: var(--purple-500);
            }
        }
    }
    
    &[timeframe="monthly"] {
        .monthly {
            div& {
                display: flex;
            }

            nav button& {
                color: white;
            }
        }
        .weekly, .daily {
            div& {
                display: none;
            }
            nav button& {
                color: var(--purple-500);
            }
        }
    }
}