@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --purple-600: hsl(246, 80%, 60%);

    /* work, play, study, exercise, social, self-care */
    --orange-300: hsl(15, 100%, 70%);
    --blue-300: hsl(195, 74%, 62%);
    --pink-400: hsl(348, 100%, 68%);
    --green-400: hsl(145, 58%, 55%);
    --purple-700: hsl(264, 64%, 52%);
    --yellow-300: hsl(43, 84%, 65%);


    --navy-950: hsl(226, 43%, 10%);
    --navy-900: hsl(235, 46%, 20%);
    --purple-500: hsl(235, 45%, 61%);
    --navy-200: hsl(236, 100%, 87%);

    /* card titles */
    --title-size: 18px;
    --font-rubik: 'Rubik', sans-serif;
    --rubik-thin: 300;
    --rubik-normal: 400;
    --rubik-bold: 500;

    --card-padding: 1.5rem;
    --transition-time: 0.25s;

    font-size: 16px;
    font-family: var(--font-rubik);
    font-weight: var(--rubik-normal);
}

* {
    margin: 0;
    padding: 0;

    button {
        all: unset;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

body {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: var(--navy-950);
    color: white;

    main {
        flex: 1 0 0;
        display: grid;
        place-content: center;
        place-items: center;
    }

    footer {
        margin-top: 1rem;
        padding: 1rem 0;
        flex: 0 1 0;
        width: 90%;
        border-top: 1px solid white;
        text-align: center;
    }
}

/*** conditional part ***/
.dashboard {
    &[timeframe="daily"] {
        .daily {
            div& {
                display: flex;
            }

            nav button& {
                color: white;
            }
        }
        .weekly, .monthly {
            transition: var(--transition-time);
            div& {
                display: none;
            }
            nav button& {
                color: var(--purple-500);
                &:hover, &:focus {
                    color: white;
                }
            }
        }
    }

    &[timeframe="weekly"] {
        .weekly {
            div& {
                display: flex;
            }

            nav button& {
                color: white;
            }
        }
        .daily, .monthly {
            transition: var(--transition-time);
            div& {
                display: none;
            }
            nav button& {
                color: var(--purple-500);
                &:hover, &:focus {
                    color: white;
                }
            }
        }
    }
    
    &[timeframe="monthly"] {
        .monthly {
            div& {
                display: flex;
            }

            nav button& {
                color: white;
            }
        }
        .weekly, .daily {
            transition: var(--transition-time);
            div& {
                display: none;
            }
            nav button& {
                color: var(--purple-500);
                &:hover, &:focus {
                    color: white;
                }
            }
        }
    }
}

/*** Sections ***/
.dashboard {
    .work {
        --background-image: url('../images/icon-work.svg');
        --background-color: var(--orange-300);
    }
    .play {
        --background-image: url('../images/icon-play.svg');
        --background-color: var(--blue-300);
    }
    .study {
        --background-image: url('../images/icon-study.svg');
        --background-color: var(--pink-400);
    }
    .exercise {
        --background-image: url('../images/icon-exercise.svg');
        --background-color: var(--green-400);
    }
    .social {
        --background-image: url('../images/icon-social.svg');
        --background-color: var(--purple-700);
    }
    .self-care {
        --background-image: url('../images/icon-self-care.svg');
        --background-color: var(--yellow-300);
    }
}

/*** Header ***/

.dashboard header {
    border-radius: 1rem;
    background: var(--navy-900);
    display: flex;
    flex-direction: column;

    .top {
        background: var(--purple-600);
        border-radius: 1rem;
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        gap: 1rem;
        padding: var(--card-padding);

        h1 {
            font-weight: var(--rubik-thin);
            font-size: 1.5rem;

            span {
                font-size: 1rem;
                color: var(--navy-200);
            }
        }

        img {
            height: 4rem;
            border: 3px solid white;
            border-radius: 50%;
        }
    }

    nav ul {
        display: flex;
        flex-direction: row;
        font-size: 1.125rem;

        li {
            /* all: unset; */
            list-style: none;
            text-align: center;
            /* width: min-content; */
            button {
                padding: var(--card-padding);
                /* width: 100%; */
            }
        }
    }
}

/*** other styles ***/
.dashboard {
    margin: 6rem var(--card-padding);
    display: grid;
    grid-template-rows: repeat(6, fit-content);
    gap: var(--card-padding);

    section, section .content {
        border-radius: 1rem;
    }

    section {
        padding-top: 2rem;

        background-color: var(--background-color);
        background-image: var(--background-image);
        background-repeat: no-repeat;
        background-position: top right;
        background-position-x: calc(100% - 1.5rem);
        background-position-y: -0.75rem;
    }

    
    .content {
        padding: var(--card-padding);
        background: var(--navy-900);
        transition: var(--transition-time);
        .top {
            display: flex;
            justify-content: space-between;

            h2 {
                font-size: var(--title-size);
                font-weight: var(--rubik-normal);
            }
        }

        &:hover, &:focus {
            background: #34397B;
            &:has(.ellipsis:hover), &:has(.ellipsis:focus) {
                background: var(--navy-900);
            }
        }

        .ellipsis {
            path {
                transition: var(--transition-time);
            }
            &:hover, &:focus {
                path {
                    fill: white;
                }
            }
        }
    }

    .data {
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5rem;

        .current {
            font-size: 2rem;
            font-weight: var(--rubik-thin);
        }

        .previous {
            font-weight: var(--rubik-thin);
            color: var(--navy-200);
        }
    }
}

/*** Media Query ***/
@media (min-width: 70rem){
    :root {
        --card-padding: 2rem;
    }
    .dashboard {
        grid-template-columns: repeat(4, 15rem);
        grid-template-rows: repeat(2, 25dvh);

        section, header {
            max-width: 25dvw;
        }
        section {
            padding-top: 2.5rem;
            display: grid;
        }
    }
    header {
        grid-row: span 2;

        .top {
            flex-direction: column;
            flex: auto;
            img {
                place-self: start;
            }
        }
    }
    .dashboard header .top h1 {
        font-size: 2.5rem;
    }
    .dashboard header nav {
        flex: initial;
        ul {
            flex-direction: column;
            gap: 1.5rem;
            padding: var(--card-padding);

            li {
                text-align: start;
                button {
                    padding: 0;
                    height: min-content;
                }
            }
        }
        
    }
    .dashboard .content {
        max-height: 100%;
        .data {
            flex-direction: column;
            margin-top: 1.5rem;
            justify-content: start;
            align-items: start;

            .current {
                font-size: 3rem;
            }
            .previous {
                margin-top: 1rem;
            }
        }
    }
}